.bg-primary {
    background: #62959c !important;
}

a.navbar-brand {
    color: #ffe3d8 !important;
    font-weight: 600;
}

a.nav-link {
    color: #433520 !important;
    font-size: 14px;
}

ul.nav.flex-column {
    background: #fde8cd;
}

li {
    margin-bottom: 5px;
}

h1 {
    font-size: large;
    text-decoration: underline;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightslategray;
}

h3 {
    margin-top: 1rem;
    font-weight: 600;
    font-size: x-large;
    color: maroon;
    cursor: pointer;
}

h3:hover {
    text-shadow: 2px 2px 3px lightsalmon;
}

h4 {
    margin-top: 4rem;
    font-size: large;
    font-weight: 500;
    color: #28527a !important;
    text-decoration: underline !important;
    cursor: pointer;
}

h4:hover {
    text-shadow: 2px 2px 3px lightsteelblue;
}

h6 {
    font-weight: 500;
}

code {
    color: #a9294f;
    font-weight: 545 !important;
    border-radius: 5px;
    border-color: #ffe6e6;
}

span.hljs-comment , span.hljs-meta {
    color: #8675a9;
    font-weight: 550;
}

footer.col-md-12 > p {
    display: none;
}

div.col-md-9 {
    padding-left: 3rem;
    padding-right: 2rem;
}

div.col-md-3 {
    margin-bottom: 1rem !important;
}

code.hljs {
    font-size: 14px;
    font-family: Consolas, 'Courier New', monospace;
}

p {
    font-size: 16px;
}


.dark-pink {
    margin-top: 6rem !important;
    color: #838383;
    font-size: 17px;
    font-weight: 450;
}


